%header.main
  %a{href: "/"}
    %h1
      = image_tag "logo.png"
  %a.burger{href: "#"}
    - (1..3).each do |i|
      .div
%nav.main
  = link_to 'Home', '/index.html'
  = link_to 'Projects', '/projects.html'
  = link_to 'Gallery', '/gallery.html'
  %a{href: "mailto: yulunhophoto@gmail.com", target: "_blank"} Email
